* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 100%;
  height: 100vh; }
  body .container {
    width: 90%; }

.comment_wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  border: 2px solid sandybrown;
  padding: 20px; }
  .comment_wrapper form {
    width: 100%; }

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 50px; }

.left_symbols {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: normal;
  align-self: flex-end; }
  .left_symbols .counter {
    margin-left: 10px; }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: normal;
  align-self: flex-end;
  margin-top: 20px; }
  .buttons button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px; }
  .buttons .close {
    background: none;
    border: none; }
  .buttons .send {
    background: #22903b;
    color: white;
    border: none; }

.comment_of_user {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  min-height: 60px;
  width: 100%; }
  .comment_of_user .comment_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
    line-height: 100%; }
    .comment_of_user .comment_header > div {
      margin-right: 10px; }
    .comment_of_user .comment_header .user_name {
      font-weight: bold;
      font-size: 20px; }
    .comment_of_user .comment_header .time {
      opacity: .6; }
  .comment_of_user .entered_message {
    margin: -30px 0 0 70px;
    max-width: 90%;
    word-break: break-all; }
  .comment_of_user .edit_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: normal;
    margin-top: 5px; }
    .comment_of_user .edit_buttons button {
      border: none;
      box-shadow: 0 0 2px black;
      padding: 5px;
      background: none;
      transition: .5s; }
      .comment_of_user .edit_buttons button:hover {
        cursor: pointer; }
    .comment_of_user .edit_buttons .edit {
      margin-right: 10px; }
      .comment_of_user .edit_buttons .edit:hover {
        background: rgba(45, 157, 111, 0.61);
        transition: .5s; }
    .comment_of_user .edit_buttons .delete:hover {
      background: rgba(180, 36, 36, 0.85); }

.confirm_delete_message {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  width: 140px;
  padding: 10px 0;
  background: white; }
  .confirm_delete_message::after {
    content: '';
    position: absolute;
    bottom: -15px;
    border-top: 15px solid black;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent; }
  .confirm_delete_message::before {
    content: '';
    position: absolute;
    bottom: -14px;
    border-top: 14px solid white;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    z-index: 100; }
  .confirm_delete_message .choose .yes, .confirm_delete_message .choose .no {
    padding: 0 10px 0 10px;
    margin-top: 6px; }
  .confirm_delete_message .choose .yes {
    margin-right: 10px; }

/*# sourceMappingURL=Comment.css.map */
