
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin flex($direction, $justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
body{
  @include flex(column,normal,center);
  width: 100%;
  height: 100vh;
  .container{
    width: 88%;
  }
}
.comment_wrapper{
  margin-top: 100px;
  @include flex(column,normal,center);
  border: 2px solid sandybrown;
  padding: 20px;
  form{
    width: 100%;
  }
}


textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
}
.left_symbols {
  @include flex(row, flex-end, normal);
  align-self: flex-end;
  .counter {
    margin-left: 10px;
  }
}
.buttons {
  @include flex(row, flex-end, normal);
  align-self: flex-end;
  margin-top: 20px;

  button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;

  }
  .close {
    background: none;
    border: none;
  }
  .send {
    background: #22903b;
    color: white;
    border: none;
  }
}
.comment_of_user{
  //form{
  //  width: 82%;
  //}
  margin-top: 20px;
  border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
  min-height: 60px;
  width: 100%;
  .comment_header{
    @include flex(row,flex-start,normal);
    line-height: 100%;
    & > div{
      margin-right:10px;
    }
    .user_name {
      font: {
        weight: bold;
        size: 20px;
      }
    }
    .time{
      opacity: .6;
    }
  }
  .entered_message{
    margin: -30px 0 0 70px;
    //min-width: 90%;
    width: 88%;
    height: 60px;
    word-break: break-all;

  }
  .edit_buttons {
    @include flex(row, flex-end, normal);
    margin-top: 5px;
    button, .editBtn{
      border: none;
      height: 30px;
      box-shadow: 0 0 2px black;
      padding: 5px;
      background: none;
      transition: .5s;
      &:hover{
        cursor: pointer;
      }
    }
    .editBtn, .save{
      margin-right: 10px;
      &:hover{
        background: rgba(45, 157, 111, 0.61);
        transition: .5s;
      }
    }
    .delete{
      &:hover{
        background: rgba(180, 36, 36, 0.85);
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
    .save{
      //display: none;
    }
  }

}

.confirm_delete_message{
  visibility: hidden;
  position: absolute;
  @include flex(column, center,center);
border: 1px solid black;
  //text-align: center;
  width: 140px;
  padding: 10px 0;
  background: white;
  &::after{
    content: '';
    position: absolute;
    bottom: -15px;
    border-top: 15px solid black;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  &::before{
    content: '';
    position: absolute;
    bottom: -14px;
    border-top: 14px solid white;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    z-index: 100;
  }

 .choose{
   a{
     text-decoration: none;
   }
   .yes, .no{
     padding: 0 10px 0 10px;
     margin-top: 6px;
   }
   .yes{
     margin-right: 10px;
   }
 }
}