
*{
  padding: 0;
  margin: 0;
}
@mixin flex($direction, $justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
body{
  @include flex(column,normal,center);
  width: 100%;
  height: 100vh;
  .container{
    width: 90%;
  }
}
.comment_wrapper{
  @include flex(column,normal,center);
  border: 2px solid sandybrown;
  padding: 20px;
  form{
    width: 100%;
  }
}


textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
}
.left_symbols {
  @include flex(row, flex-end, normal);
  align-self: flex-end;
  .counter {
    margin-left: 10px;
  }
}
.buttons {
  @include flex(row, flex-end, normal);
  align-self: flex-end;
  margin-top: 20px;

  button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;

  }
  .close {
    background: none;
    border: none;
  }
  .send {
    background: #22903b;
    color: white;
    border: none;
  }
}
.comment_of_user{
  margin-top: 20px;
  .comment_header{
    @include flex(row,flex-start,normal);
    line-height: 100%;
    & > div{
      margin-right:10px;
    }
    .user_name {
      font: {
        weight: bold;
        size: 20px;
      }
    }
    .time{
      opacity: .6;
    }
  }
  .entered_message{
    margin: -30px 0 0 70px;
    max-width: 90%;
    word-break: break-all;
  }
}



//.comment_of_user{
//  display: grid;
//  grid-template-rows: 64px 1fr;
//  grid-template-columns: 64px 80px 1fr;
//  align-self: flex-start;
//margin-top:20px;
//  border: 1px solid black;
//  border-radius: 20px;
//  padding: 20px;
//.user_name{
//  font:{
//    weight: bold;
//    size: 25px;
//  }
//  max-width: 100px;
//}
//  .avatar{
//    grid-row: 1/3;
//    @include flex(column,flex-start,normal);
//    padding-right: 10px;
//  }
//  .entered_message{
//    grid-column-start: 2;
//    grid-column-end: 4;
//    max-width: 90%;
//    word-break: break-all;
//
//  }
//  .time{
//    max-width: 100px;
//    justify-self: flex-start;
//
//  }
//}